
@{
    ViewBag.Title = "Checkout_Success";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body style="text-align: center">
    <h2>Đã đặt hàng thành công</h2>
    <h4>Đơn hàng của bạn đã được đặt hàng thành công và sẽ được giao đến bạn từ 2 đến 3 ngày.</h4>
    <h4> Vui lòng check mail để biết thêm chi tiết về đơn hàng.</h4>
    <center><a href="@Url.Action("index","Shop")" class="btn btn-1">Continue To Shopping</a></center>
</body>
</html>
